@media (max-width: 1366px){
  .logo__img{
    max-width: 70%;
  }
  .menu__list-link{
    font-size: 24px;
    line-height: 32px;
  }
  .about__specification{
    margin-right: 17%;
  }
  // .page-header{
  //   height: 120vh;
  // }
  .season-info{
    position: static;
  }
}


@media (max-width: 1200px){
  .heroes__inner{
    display: block;
  }
  .heroes__slider-text{
    max-width: 100%;
    padding-top: 50px;
  }
  .heroes__slider-img{
    max-width: 100%;
  }
}

@media (max-width: 1088px){
  .seasons__item{
    height: 340px;
  }
}

@media (max-width: 992px){
  .page-logo{
    display: none;
  } 
  .season-info__text p{
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 768px){
  .about__box{
    display: block;
  }
  .section-page{
    padding: 50px 0;
  }
  .title{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 36px;
  }
  body{
    font-size: 16px;
    line-height: 20px;
  }
  .video__btn{
    padding-right: 0;
    padding-left: 62px;
  }
  .video__btn::before{
    width: 50px;
    height: 50px;
    background-size: cover;
    top: -16px;
  }
  .video__text{
    font-size: 48px;
    line-height: 56px;
  }
  .video__text span{
    padding-right: 200px;
  }
  .seasons__inner{
    grid-gap: 80px 35px;
  }
  .heroes__name{
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 25px;
  }
  .season-info{
    display: block;
    padding: 30px 10px 0 10px;
  }
  .season-info__num{
    text-align: left;
    font-size: 50px;
    line-height: 26px;
  }
  .season-info__num span{
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px){
  .menu{
    text-align: center;
    padding: 0;
    background: linear-gradient(180deg, #111213 0%, #111213 3.62%, rgba(32,31,33,0) 22.33%);
  }
  .menu__list{
    display: block;
    transform: translateY(-150%);
    transition: all .3s;
  }
  .menu__list.menu__list--active{
    transform: translateY(0);
    padding: 40px 0 50px;
    background-color: rgba($color: #0e0e0e, $alpha: .6);
    z-index: 555;
  }
  .menu__list-link{
    display: block;
    padding: 10px 0;
  }
  .logo{
    top: 70%;
    position: absolute;
    z-index: 0;
  }
  .menu__btn{
    display: block;
    width: 50px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .menu__btn {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .menu__btn-line{
      height: 2px;
      width: 36px;
      margin-top: 10px;
      margin-left: 12px;
      background-color: #fff;
      z-index: 5;
    }
    .menu__btn-line:first-child {
      margin-top: 2px;
    }
  }
  .page-header{
    height: 60vh;
  }
  .logo{
    padding-top: 2vh;
  }
  .page-logo{
    display: block;
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
  } 
}

@media (max-width: 414px){
  .seasons__item{
   height: 202px;
  }
}